body {
  overflow-x: hidden;
  font-size: 20px;
}
#header-background {
  height: 250px;
  position: absolute;
  width: 100%;
}
h2 {
  font-size: 1.8rem;
}

.negative {
  color: $bright-red;
}
.positive {
  color: $lime-green;
}
#header {
  line-height: 1;
  padding: 2rem 0;
  h1 {
    font-size: 1.8rem;
  }
  small {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .theme-switcher {
    font-weight: bold;
    font-size: 0.9rem;
  }
}

#main {
  .overview-row {
    .overview .card {
      padding: 1rem;
      .card-body {
        position: relative;
        min-height: 125px;
        height: fit-content;

        .title,
        .count,
        .fab,
        .percentage {
          position: absolute;
          font-weight: bold;
        }
        .title {
          top: 0;
          left: 0;
          font-size: 0.95rem;
          padding-top: 15px;
        }
        .count {
          bottom: 0;
          left: 0;
          font-size: 2rem;
          padding-bottom: 15px;
        }
        .fab {
          top: 0;
          right: 0;
          padding-top: 15px;
        }
        .fa-facebook {
          color: $facebook;
        }
        .fa-twitter {
          color: $twitter;
        }
        .fa-youtube {
          color: $youtube;
        }

        .percentage {
          bottom: 0;
          right: 0;
          font-size: 0.8rem;
          padding-bottom: 15px;
        }
      }
    }
  }
}
.card {
  margin: 1rem 0;
  text-align: center;
  .card-title {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .card-text {
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 0.7rem;
    text-transform: uppercase;
    .followers {
      font-weight: bold;
      font-size: 2.8rem;
      display: block;
      margin-bottom: 0;
    }
  }
  .card-bottom {
    font-size: 0.7rem;
    margin-top: 1.8rem;
    font-weight: bold;
  }
}

body.dark {
  background: $very-dark-blue;
  color: $white;
  #header-background {
    background: $very-dark-blue-top;
  }
  #header {
    small {
      color: $desaturated-blue;
    }
    .theme-switcher {
      color: $desaturated-blue;
    }
  }
  .card {
    background: $card-bg;

    .card-title {
      color: $desaturated-blue;
    }
    .card-text {
      color: $desaturated-blue;
      .followers {
        color: $white;
      }
    }
    .card-bottom {
      color: $lime-green;
    }
    .title {
      color: $desaturated-blue;
    }
  }
}

body.light {
  background: $white;
  color: $very-dark-blue;
}
