body {
  overflow-x: hidden;
  font-size: 20px;
}
#header-background {
  height: 250px;
  position: absolute;
  width: 100%;
}
h2 {
  font-size: 1.8rem;
}

.facebook-card {
  border-top: 5px solid $facebook;
}
.twitter-card {
  border-top: 5px solid $twitter;
}
.youtube-card {
  border-top: 5px solid $youtube;
}
.instagram-card {
  border-top: 5px solid #c13584;
}
.fa-facebook-square {
  color: $facebook;
}
.fa-twitter {
  color: $twitter;
}
.fa-instagram {
  color: #c13584;
}
.fa-youtube {
  color: $youtube;
}
.negative {
  color: $bright-red;
}
.positive {
  color: $lime-green;
}
#header {
  line-height: 1;
  padding: 2rem 0;
  h1 {
    font-size: 1.8rem;
  }
  small {
    font-weight: bold;
    font-size: 0.8rem;
  }
  .theme-switch {
    text-align: right;
    font-weight: bold;
    font-size: 0.9rem;
    position: relative;
    @media (max-width: 375px) {
      top: 100%;
    }
    .theme-switcher {
      position: absolute;
      right: 18%;
      top: 20%;
      @media (max-width: 940px) {
        right: 20%;
      }
      @media (max-width: $screen-md) {
        right: 28%;
      }
      @media (max-width: $screen-sm) {
        right: 15%;
      }
      @media (max-width: 375px) {
        right: 23%;
      }
    }
  }
}

#main {
  padding-bottom: 2rem;
  .overview-row {
    .overview .card {
      padding: 1rem;
      .card-body {
        position: relative;
        min-height: 125px;
        height: fit-content;

        .title,
        .count,
        .fab,
        .percentage {
          position: absolute;
          font-weight: bold;
        }
        .title {
          top: 0;
          left: 0;
          font-size: 0.95rem;
          padding-top: 15px;
          padding-left: 10px;
        }
        .count {
          bottom: 0;
          left: 0;
          font-size: 2rem;
          padding-bottom: 15px;
          padding-left: 10px;
        }
        .fab {
          top: 0;
          right: 0;
          padding-top: 15px;
          padding-right: 10px;
        }

        .percentage {
          bottom: 0;
          right: 0;
          font-size: 0.9rem;
          padding-bottom: 15px;
          padding-right: 10px;
        }
      }
    }
  }
}
.card {
  margin: 1rem 0;
  text-align: center;
  .card-title {
    font-size: 0.8rem;
    font-weight: bold;
  }
  .card-text {
    font-weight: lighter;
    letter-spacing: 4px;
    font-size: 0.7rem;
    text-transform: uppercase;
    .followers {
      font-weight: bold;
      font-size: 2.8rem;
      display: block;
      margin-bottom: 0;
    }
  }
  .card-bottom {
    font-size: 0.8rem;
    margin-top: 1.8rem;
    font-weight: bold;
  }
}

body.dark {
  background: $very-dark-blue;
  color: $white;
  #header-background {
    background: $very-dark-blue-top;
  }
  #header {
    small {
      color: $desaturated-blue;
    }
    .theme-switcher {
      color: $desaturated-blue;
    }
  }
  .card {
    background: $card-bg;

    .card-title {
      color: $desaturated-blue;
    }
    .card-text {
      color: $desaturated-blue;
      .followers {
        color: $white;
      }
    }
    .card-bottom {
      color: $lime-green;
    }
    .title {
      color: $desaturated-blue;
    }
  }
}

body.light {
  background: $white;
  color: $desaturated-blue;
  #header h1 {
    color: $very-dark-blue;
  }
  #header-background {
    background: $very-pale-blue;
  }
  .card {
    background-color: $light-gray-blue;
    .card-bottom {
      color: $lime-green;
    }
    .title {
      color: $desaturated-blue;
    }
    .card-text {
      font-weight: normal;
    }
    .followers,
    .count {
      color: $very-dark-blue;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
  background: rgb(55, 142, 230);
  background: linear-gradient(90deg, $start 0%, $end 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
